{% load socialaccount %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        <title>My Clubs</title>
    <link rel="stylesheet" href="/static/mobile/mobileLogInSty.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <body>
    <!-- Navigation bar -->
    <nav>   
        <div class="logo">Club Website</div>
        <div class="nav-items">
            <a href="/myClubs">Home</a>
            <a href="/clubs">Explore</a>
            <div class="account-link">
                {% if user.is_authenticated %}
                    <a href="/"><img class="avatar" src="{{ pic }}" alt="Avatar"></a>
                {% else %}
                    <a href="/">Sign In</a> <!-- Replace with an image of a question mark later -->
                {% endif %}
            </div>
        </div>
    </nav>

        <section class="hero">
            <div class="hero-container">
                <div class="column-left">
                    <h1>DHS Extracurriculars</h1>
                    <p>Explore a diverse array of enriching extracurricular activities tailored to your interests, ranging from STEM clubs to arts and community service initiatives.</p>
                    {% if user.is_authenticated %}
                        <p style="text-align: center;">Welcome, {{ user.username }}!</p>
                        <a href="{% provider_login_url 'google' %}" class="btn-google-login">
                            <i class="fab fa-google"></i> Sign in With a Different Account
                        </a>
                    {% else %}
                        <a href="{% provider_login_url 'google' %}" class="btn-google-login">
                            <i class="fab fa-google"></i> Get Started
                        </a>
                    {% endif %}
                </div>
                <div class="column-right">
                    
                </div>
                
            </div>
        </section>
        <div class="loader"></div>
    </body>
</html>
