<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{club.name}}</title>
    <link rel="stylesheet" href="/static/mobile/post.css">
</head>
<body>

    <div class="top-bar">
        <div class="club-name">{{club.name}}</div>
    </div>

    <!--Cards can be added as needed. One is commented out as reference-->
    <div class="main-content">
        <div class="container">
            <div class="card">
                <h2>{{post.title}}</h2>
                <p>{{post.text|linebreaks}}</p>
                <div class="addPost">
                    <button class="post-button" onclick="openPostCreator()" id="post-button">
                        <div class="postButtonText">
                            <textarea id="newPostbodyInput" class="user-input" rows="2" placeholder="Add a comment"></textarea>
                        </div>
                    </button>

                        <div class="createPost" id="post-creator" style="display: none;">
                            
                            <div class="userError" id="userErrorMessage" style="display: none;">message field must contain text</div>
                            <div class="submitCancel">
                                <button type="submit" class="postUtil-button" onclick="closePostCreator()">Cancel</button>
                                <button type="submit" class="postUtil-button" onclick="submitForm()">Post</button>
                            </div>
                        </div>

                        <form id="postCreateForm" action="/addComment" method="post">
                            {% csrf_token %}
                            <!-- Allows reuse in other clubs if needed-->
                            <input type="hidden" name="curPage" value="{{request.path}}">
                            <input type="hidden" name="postNumber" value="{{post.id}}">
                            <input type="hidden" id = "newPostBody" name="body" value="">
                        </form>

                        <!-- Does not work inside of post.html currently TODO: FIX -->
                        <form id="deletePost" action="/deleteComment" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="postNumber" value="{{post.id}}">
                            <input type="hidden" id = "postKey" name="replyKey" value="">
                        </form>

                        <form id="replyComment" action="/addReplyToComment" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="postNumber" value="{{post.id}}">
                            <input type="hidden" id = "commentPK" name="replyNumber" value="">
                            <input type="hidden" id = "newCommentBody" name="body" value="">
                        </form>

                </div>
                
                <div class="allPosts"> 
                    {% for post in replies %}
                        <div class="post" onclick="">
                            {% if post.linkToOtherReply %}
                            <div class="ogPost">
                                <div class="funnyLink">
                                    <svg width="40" height="25" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10 25 Q10 5 40 5 H90" stroke="lightgray" fill="transparent" stroke-width="1"/>
                                    </svg>
                                </div>
                                
                                <div class="parentComment">
                                    <img class="OPavatar" src="{{post.replyLink.creator.picURL}}" alt="pic">
                                    <div class="OGcomment">
                                        <div class="OPavatarName">
                                            {% if post.replyLink.creator.name == None %}
                                                Deleted
                                            {% else %}
                                                {{post.replyLink.creator.name}}
                                            {% endif %}
                                        </div>
                                        <div class="commentContains">
                                            {% if post.replyLink.text == None %}
                                                Deleted
                                            {% else %}
                                                {{post.replyLink.text}}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                    
                                
                            </div>
                            {% endif %}

                            <div class="postTopBar">
                                <div class="creater">
                                    <img class="avatar" src="{{post.creator.picURL}}" alt="pic">
                                    <div class="nameDate">
                                        <div class="postName">
                                            {{post.creator.name}}
                                        </div>
                                        <div class="postDate">
                                            {{post.creationTime}}
                                        </div>
                                    </div>
                                </div>
                                <div class="options" onclick="openDropdown('{{post.pk}}')" onmouseleave="closeDropdown('{{post.pk}}')">
                                    <div class="ButtonOptions">
                                        ⋮
                                    </div>
                                    <div class="dropDownOptions" id="{{post.pk}}">
                                        <div class="dropDownSelections" onclick="deletePost('{{post.pk}}')">Delete</div>
                                        <div class="dropDownSelections">Placeholder</div>
                                    </div>
                                </div>
                                
                                
                            </div>

                            <div class="postText">
                                {{post.text|linebreaks}}
                            </div>

                            <div class="postData">
                                <div class="postComment" onclick="opencommentReply('{{post.pk}}')">
                                    <svg rpl="" aria-hidden="true" class="icon-comment" fill="currentColor" height="15" icon-name="comment-outline" viewBox="0 0 20 20" width="15" xmlns="http://www.w3.org/2000/svg"><path d="M7.725 19.872a.718.718 0 0 1-.607-.328.725.725 0 0 1-.118-.397V16H3.625A2.63 2.63 0 0 1 1 13.375v-9.75A2.629 2.629 0 0 1 3.625 1h12.75A2.63 2.63 0 0 1 19 3.625v9.75A2.63 2.63 0 0 1 16.375 16h-4.161l-4 3.681a.725.725 0 0 1-.489.191ZM3.625 2.25A1.377 1.377 0 0 0 2.25 3.625v9.75a1.377 1.377 0 0 0 1.375 1.375h4a.625.625 0 0 1 .625.625v2.575l3.3-3.035a.628.628 0 0 1 .424-.165h4.4a1.377 1.377 0 0 0 1.375-1.375v-9.75a1.377 1.377 0 0 0-1.374-1.375H3.625Z"></path></svg>
                        
                                </div>
                                <div class="postCommentText" onclick="opencommentReply('{{post.pk}}')">
                                    Reply
                                </div>
                                
                            </div>

                            <div class="commentReply" style="display: none;" id="commentReply{{post.pk}}">
                                <textarea id="commentReplyText{{post.pk}}" class="commentReply-input" rows="1" placeholder="Reply to {{post.creator.name}}"></textarea>

                                <div class="createPost">
                                    <div class="userError" id="commentReplyError{{post.pk}}" style="display: none;">message field must contain text</div>
                                    <div class="submitCancel">
                                        <button type="submit" class="postUtil-button" onclick="closecommentReply('{{post.pk}}')">Cancel</button>
                                        <button type="submit" class="postUtil-button" onclick="submitComment('{{post.pk}}')">Post</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-bar">
        
        <button onclick= "history.back();" type="submit" class="join-button">Back</button>
        
        <div class="club-name">Post #{{post.id}}</div>
    </div>
    <script>
        // TODO: get new posts when they appear from the server
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        function openDropdown(postID) {
            document.getElementById(postID).style.display = "flex";
        }

        function closeDropdown(postID) {
            document.getElementById(postID).style.display = "none";
        }

        // Function to auto expand textarea
        function autoExpand(field) {
            // Reset the height of the field to auto to calculate the new scroll height
            field.style.height = 'auto';
            // Set the height of the field to the scroll height
            field.style.height = field.scrollHeight + 'px';
        }

        // Add input event listener to all textareas
        document.addEventListener('input', function (event) {
            if (event.target.tagName.toLowerCase() === 'textarea') {
                autoExpand(event.target);
            }
        });

        function openPostCreator() {
            const postMakerOpener = document.getElementById("post-button");
            const postMaker = document.getElementById("post-creator");
            postMaker.style.display = "";
        }

        function closePostCreator() {
            const postMakerOpener = document.getElementById("post-button");
            const postMaker = document.getElementById("post-creator");

            postMakerOpener.style.display = "";
            postMaker.style.display = "none";
        }

        function opencommentReply(ID) {
            // Hide all other commentReply sections when opening a new one
            document.querySelectorAll('.commentReply').forEach(comReply => {
                comReply.style.display = "none";
            });

            const reply = document.getElementById("commentReply" + ID);
            
            reply.style.display = "";
        }

        function closecommentReply(ID) {
            const reply = document.getElementById("commentReply" + ID);
            
            reply.style.display = "none";
        }

        function submitComment(ID) {
            const body = document.getElementById("commentReplyText" + ID);

            if (body.value == "") {
                document.getElementById("commentReplyError" + ID).style.display = "";
            } else {
                // Fills out form data needed to create the post and hands it off to the server as a post request
                document.getElementById("newCommentBody").value = body.value;
                document.getElementById("commentPK").value = ID;

                document.getElementById("replyComment").submit();
            }
        }

        function deletePost(postID) {
            document.getElementById("postKey").value = postID;
            document.getElementById("deletePost").submit();
        }

        function submitForm() {
            // Verify that there is something in the title and body before submission
            const body = document.getElementById("newPostbodyInput");

            if (body.value == "") {
                document.getElementById("userErrorMessage").style.display = "";
            } else {
                document.getElementById('newPostBody').value = body.value;
                // Submit the form
                document.getElementById('postCreateForm').submit();
                

            }
        }

        const form = document.getElementById('postCreateForm'); 
 
        form.addEventListener('submit', function(event) { 
            alert("attempt to stop!")
          event.preventDefault(); 
          location.reload();
          // Your form submission logic here 
        }); 
    </script>
</body>
</html>
