<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        <title>Personal Portfolio</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <nav>
            <div class="logo">Coding Club</div>
            <div class="nav-items">
                <a href="/">Home</a>
                <a href="/">About</a>
                <a href="/">Contact</a>
            </div>
        </nav>
        <section class="hero">
            <div class="hero-container">
                <div class="column-left">
                    <h1>Learn about the club</h1>
                    <p>Everything about the Coding Club encapsulated into a single website.</p>
                    <button>Get Started</button>
                </div>
                <div class="column-right">
                    <img src="/static/Business.png" alt="illustration" class="hero-image">
                </div>
            </div>
        </section>
    </body>
</html>

<!--Main Colors:

Magenta -- rgb(255, 0, 200)
Blue -- #04fdf9
Orange -- rgb(255, 153, 0)



-->