<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <link rel="stylesheet" href="/static/desktop/explore.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body>
    <!-- Navigation bar -->
    <nav> 
        <div class="topNav">
            <div class="logo">Club Website</div>
            <div class="nav-items">
                <input type="text" id="searchInput" placeholder="Search clubs & descriptions">
                <button onclick="clearSearch()">Reset</button>
                <a href="/myClubs">My Clubs</a> 
                <a href="/clubs" style='color:#FF0000'>Explore</a>
                <div class="account-link">
                    {% if user.is_authenticated %}
                        <a href="/">Hello {{ user.username }}</a>
                        <img class="avatar" src="{{ pic }}" alt="Avatar">
                    {% else %}
                        <a href="/">Sign In</a>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="bottomNav" id = "botNav">
            <div class="catNav" id="categoryNav">
                {% for tag in tags %}
                    <button class="catButton" onclick="filterClubs('{{tag}}')" id="{{tag}}">{{tag}}</button>
                {% endfor %}
            </div>
            <div class="pagination-nav-btn prev-btn" onclick="moveLeft()" id = "back">&lt;</div>
            <div class="pagination-nav-btn next-btn" onclick="moveRight()" id = "fwds">&gt;</div>
        </div>
    </nav>
    

    

    <!-- Main content (js needs to organize by category)-->
    <div class="container" id="clubLayoutTag">
        {% for club, category in clubsWithCategory.items %}
            <div class="card" data-url="{{ club.url }}" data-tags="{{category}}">
                <div class="card-text">
                    <div class="club-name"> {{ club.name }} </div>
                    <p class="card-description">{{ club.discription }}</p>
                </div>
                {% if club.homeURL == "None" or club.homeURL == None or club.homeURL == "" %}
                    <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihbMTr87gc6WSdCDspWQC59rJjSVxYELI3Nfk4INk1DNXrzAP97RlQ1g5owE0eBCyOWTbjVX-G-Pckn6gs5oX2eBJ5XNbMkTla0=s1600-rw-v1" class="card-image">
                {% else %}
                    <img src="{{club.homeURL}}" class="card-image">
                {% endif %}
                <div class="color-overlay"></div>
            </div>
        {% endfor %}
    </div>

    <script src="/static/desktop/explore.js"></script>
</body>
</html>
