<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Clubs</title>
    <link rel="stylesheet" href="/static/myClubsLayout.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body>
     <!-- Navigation bar -->
     <nav>  
        <div class="logo">Club Website</div>
        <div class="nav-items">
            <a href="/myClubs" style='color:#FF0000'>My Clubs</a>
            <a href="/clubs">Explore</a>
            <div class="account-link">
                {% if user.is_authenticated %}
                    <a href="/">Hello {{ user.username }}</a>
                    <img class="avatar" src="{{ pic }}" alt="Avatar">
                {% else %}
                    <a href="/">Sign In</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container" id = "clubLayotTag">
        <div class="clubContainer" id = "clubLayotTag">
            {% if empty %}
            <div class="example-card">
                <h3 class="class-name" font-family: 'Source Sans Pro'>Your Club</h3>
                <p class="class-description" font-family: 'Source Sans Pro'>Add clubs through the explore tab!</p>
            </div>
            
            <!-- New Stuff - Binning for now until it is fully ready
            <div class="grouped-container">
                <h3 class="search-heading" font-family: 'Source Sans Pro'>Search Clubs</h3>
                <input type="text" class="search-bar" placeholder="Search">
                <a href="/clubs">
                    <input type="button" class="club-join" value="Explore All">
                </a>
                <div class = "clubs-suggested-container">
                    
                    <div class = "suggested-class-card">
                        <h3 class="class-name" font-family: 'Source Sans Pro'>Example CLub</h3>
                        <p class="class-description" font-family: 'Source Sans Pro'>This is an example of a description</p>
                    </div>
                    
                </div>
            </div>
            -->
        {% else %}
            {% for class in classes %}
                <div class="class-card" data-url="{{ class.memberPage }}">
                    <h3 class="class-name" font-family: 'Source Sans Pro'>{{ class.name }}</h3>
                    <p class="class-description" font-family: 'Source Sans Pro'>{{ class.discription }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <script src="/static/myClubCards.js"></script>
</body>
</html>
