<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classroom Interface</title>
    <link rel="stylesheet" href="/static/myClubsLayout.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body>
     <!-- Navigation bar -->
     <nav>   
        <div class="logo">Club Website</div>
        <div class="nav-items">
            <a href="/myClubs" style='color:#FF0000'>My Clubs</a>
            <a href="/clubs">Explore</a>
            <div class="account-link">
                {% if user.is_authenticated %}
                    <a href="/">Hello {{ user.username }}</a>
                    <img class="avatar" src="{{ pic }}" alt="Avatar">
                {% else %}
                    <a href="/">Sign In</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container" id = "clubLayotTag">
        {% if empty %}
            <div class="class-card" data-url="demo">
                <h3 class="class-name" font-family: 'Source Sans Pro'>Your Club Name</h3>
                <p class="class-description" font-family: 'Source Sans Pro'>Join a club and have them appear here!</p>
            </div>
        {% else %}
            {% for class in classes %}
                <div class="class-card" data-url="{{ class.url }}">
                    <h3 class="class-name" font-family: 'Source Sans Pro'>{{ class.name }}</h3>
                    <p class="class-description" font-family: 'Source Sans Pro'>{{ class.discription }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <script src="/static/myClubCards.js"></script>
</body>
</html>