<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{club.name}}</title>
    <link rel="stylesheet" href="/static/desktop/Nehs/internalHome.css">
</head>
<body>

    <div class="top-bar">
        <form action="/myClubs/" method="get">
            <button type="submit" class="join-button">Back</button>
        </form>
        <div class="club-name">{{club.name}}</div>
        <form action="/leaveClub" method="get">
            <input type="hidden" name="clubName" value="{{club.name}}">
            <button type="submit" class="join-button">Leave</button>
        </form>
    </div>

    <!--Cards can be added as needed. One is commented out as reference-->
    <div class="main-content">
        <div class="container">
            <div class="card">
                <h2>Live Feed (Testing in progress)</h2>
                <button onclick="" class="post-button">
                    {% if userPic != None %}
                        <img class="avatar" src="{{userPic}}" alt="pic">
                    {% else %}
                        <img class="avatar" src="/static/missingProfile.png" alt="pic">
                    {% endif %}
                    <div class="button-text">Make a post here</div>
                </button>
                {% for post in posts %}
                    <div class="post">
                        <div class="creater">
                            <img class="avatar" src="{{post.creator.picURL}}" alt="pic">
                            <div class="nameDate">
                                <div class="postName">
                                    {{post.creator.name}}
                                </div>
                                <div class="postDate">
                                    {{post.creationTime}}
                                </div>
                            </div>
                        </div>
                        <!-- make the abilty for users to reply -->
                        <div class="postTitle">
                            {{post.title}}
                        </div>

                        <div class="postText">
                            {{post.text}}
                        </div>
                    </div>
                    
                {% endfor %}
            </div>
        </div>
        <div class="sidebar">
            <div class="sidebar-section">
                <h3>General Schedule</h3>
                <p>{{club.generalMeets}}</p>
            </div>
            <div class="sidebar-section">
                <h3>Meeting Location</h3>
                <p>{{club.location}}</p>
            </div>
            <div class="sidebar-section">
                <h3>Contact(s)</h3>
                <p>{{club.contact}}</p>
            </div>
            <div class="sidebar-section">
                <h3>Advisor(s)</h3>
                <p>{{club.advisorOrAdvisors}}</p>
            </div>
            <div class="sidebar-section">
                <h3>About</h3>
                <p>{{club.discription}}</p>
            </div>
        </div>
    </div>
</body>
</html>
