<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js" defer></script>
    <title>About Coding Club</title>
</head>
<body>
    <nav>
            
        <div class="logo">Coding Club</div>
        <div class="nav-items">
            <a href="/video_analysis">Robotics</a>
            <a href="/">Back to Homepage</a>
            <a href="/contact">Contact</a>
            <a href="/robotics">Robotics2(TEST)</a>
        </div>
    </nav>
    <div class="loader"></div>
    
</body>
</html>

</html>