<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js" defer></script>
    <title>Document</title>
    <body>
    </body>
</head>
</html>

<h2>Contact</h2>
<a href="/">Back to Homepage</a>
<br><br>
<img src="https://picsum.photos/600/450">
<div class="loader"></div>

</body>
</html>