<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classroom Interface</title>
    <link rel="stylesheet" href="/static/classStyle.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body>

    <!-- Navigation bar -->
    <nav>   
        <div class="logo">Club Website</div>
        <div class="nav-items">
            <input type="text" id="searchInput" placeholder="Search clubs by name...">
            <button onclick="searchClubs()">Search</button>
            <button onclick="resetQuery()">Reset</button>
            <a href="/myClubs">My Clubs</a>
            <a href="/clubs" style='color:#FF0000'>Explore</a>
            <a href="/">Account</a>
        </div>
    </nav>

    <!-- Main content -->
    <div class="container" id="clubLayoutTag">
        {% for category, clubs in clubs_by_category.items %}
        <h2>{{ category }}</h2>
        <div class="category-container">
            {% for club in clubs %}
            <div class="class-card" data-url="{{ club.url }}">
                <h3 class="class-name">{{ club.name }}</h3>
                <p class="class-description">{{ club.discription }}</p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        
    </div>

    <script src="/static/classCards.js"></script>
</body>
</html>
