<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{club.name}}</title>
    <link rel="stylesheet" href="/static/clubDefault.css">
</head>
<body>

    <div class="top-bar">
        <form action="/myClubs/" method="get">
            <button type="submit" class="join-button">Back</button>
        </form>
        <div class="club-name">{{club.name}}</div>
        <form action="/leaveClub" method="get">
            <input type="hidden" name="clubName" value="{{club.name}}">
            <button type="submit" class="join-button">Leave</button>
        </form>
    </div>

    <!--Cards can be added as needed. One is commented out as reference-->
    <div class="main-content">
        <div class="container">
            <div class="card">
                <h2>Live Feed</h2>
                <p>This part of the website is still under developement. Please direct feedback 
                    about the website or suggestions to czhu5059@danbury.k12.ct.us
                </p>
            </div>
        </div>
        <div class="sidebar">
            <div class="sidebar-section">
                <h3>General Schedule</h3>
                <p>{{club.generalMeets}}</p>
            </div>
            <div class="sidebar-section">
                <h3>Meeting Location</h3>
                <p>{{club.location}}</p>
            </div>
            <div class="sidebar-section">
                <h3>Contact(s)</h3>
                <p>{{club.contact}}</p>
            </div>
            <div class="sidebar-section">
                <h3>Advisor(s)</h3>
                <p>{{club.advisorOrAdvisors}}</p>
            </div>
            <div class="sidebar-section">
                <h3>About</h3>
                <p>{{club.discription}}</p>
            </div>
        </div>
    </div>
</body>
</html>
