<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{club.name}}</title>
    <link rel="stylesheet" href="/static/clubEditDefaultSty.css">
</head>
<body>

    <div class="top-bar">
        <form action="/clubs/" method="get">
            <button type="submit" class="join-button">Back</button>
        </form>
        <div class="club-name">Editing {{club.name}}</div>
        <form id="editForm" action="/editClub" method="post">
            {% csrf_token %}
            <input type="hidden" name="clubName" value="{{club.name}}">
            <input type="hidden" id = "clubAbout" name="about" value="">
            <input type="hidden" id = "clubSchedule" name="schedule" value="">
            <input type="hidden" id = "clubLocation" name="location" value="">
            <input type="hidden" id = "clubContacts" name="contacts" value="">
            <input type="hidden" id = "clubadvisors" name="advisors" value="">
            <input type="hidden" id = "pictureURL" name="picURL" value="">
            <input type="hidden" id = "selectedTags" name="tags" value="">
            <input type="hidden" id = "selectedUsers" name="users" value="">
            <input type="hidden" id = "selectedLeaders" name="leaders" value="">
            <input type="hidden" id = "masterUserRoles" name="masterRoles" value="">

            <button type="submit" class="join-button" onclick="submitForm()">Submit Changes</button>
        </form>
    </div>

    <!--Cards can be added as needed. One is commented out as reference-->
    <div class="main-content">
        <div class="container">
            <div class="card">
                <h2>About</h2>
                <textarea id="about" class="user-input">{{club.discription}}</textarea>
            </div>
            {% if editUsers %}
                <div class="card" id="leaderEditor">
                    <h2>Add or Remove Leaders</h2>
                    <div id="potentialLeaders" class="userManagement">
                        <div class="userManagementTitle">
                            Add Leaders (must be a member of the club)
                        </div>

                        <div id="potentialLeadersSearch" class="userSearch">
                            <textarea id="potentialLeadersSearchInput" class="search" rows="1" placeholder="Search by Email"></textarea>
                        </div>

                        <div id="potentialLeadersList" class="userList">
                            {% for user in users %}
                            <div class="user" onmouseover="showButton('{{user.email}}')" onmouseout="hideButton('{{user.email}}')" id = '{{user.email}}'>
                                {{user.email}}⠀<!-- Blank Unicode to line up the marks -->
                                <div id="{{user.email}}button" style="display: none;" class="addRemoveButton" onclick="addLeader('{{user.email}}')">
                                    ✅
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div id="Leaders" class="userManagement">
                        <div class="userManagementTitle">
                            Remove Leaders
                        </div>

                        <div id="LeadersSearch" class="userSearch">
                            <textarea id="LeadersSearchInput" class="search" rows="1" placeholder="Search by Email"></textarea>
                        </div>
                        <div id="LeadersList" class="userList">
                            {% for leader in leaders %}
                            <div class="user" onmouseover="showButton('{{leader.email}}')" onmouseout="hideButton('{{leader.email}}')" id = "{{leader.email}}"> 
                                {{leader.email}}⠀<!-- Blank Unicode to line up the marks -->
                                <div id="{{leader.email}}button" style="display: none;" class="addRemoveButton" onclick="removeLeader('{{leader.email}}')">
                                    ❎
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="card" id="leaderEditor">
                <h2>Add or Remove Roles</h2>
                <div id="potentialLeaders" class="userManagement">
                    <div class="userManagementTitle">
                        Add Roles to Users (must be a member of the club)
                    </div>

                    <div id="potentialRolesSearch" class="userSearch">
                        <textarea id="userRoleSearch" class="search" rows="1" placeholder="Search by Email"></textarea>
                    </div>

                    <div id="potentialRolesList" class="userList">

                        {% for email, attRole, alvRole in userRoles%}
                        <div class="userRole" onmouseover="" onmouseout="" id = '{{email}}'>
                            {{email}}⠀<!-- Blank Unicode to line up the marks -->
                            <div class="userRoles">
                                {% for role in attRole %}
                                    <div class="role" id="{{email}}{{role}}">{{role}}</div>
                                {% endfor %}
                                {% for role in alvRole %}
                                    <div class="role" id="{{email}}{{role}}" style="display: none;">{{role}}</div>
                                {% endfor %}

                                <div class="options" onclick="openDropdown('{{email}}Options')" onmouseleave="closeDropdown('{{email}}Options')">
                                    <div class="ButtonOptions">
                                        ⋮
                                    </div>
                                    <div class="dropDownOptions" id="{{email}}Options">
                                        {% for role in attRole %}
                                            <div class="dropDownSelections" onclick="changeRole('{{email}}{{role}}', '{{email}}drop{{role}}')" id="{{email}}drop{{role}}" style="color:lightblue">{{role}}</div>
                                        {% endfor %}
                                        {% for role in alvRole %}
                                            <div class="dropDownSelections" onclick="changeRole('{{email}}{{role}}', '{{email}}drop{{role}}')" id="{{email}}drop{{role}}">{{role}}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="sidebar">
            <div class="sidebar-section">
                <h3>General Schedule</h3>
                <textarea id="schedule" class="user-input" rows="1">{{club.generalMeets}}</textarea>
            </div>
            <div class="sidebar-section">
                <h3>Meeting Location</h3>
                <textarea id="location" class="user-input" rows="1">{{club.location}}</textarea>
            </div>
            <div class="sidebar-section">
                <h3>Contact(s)</h3>
                <textarea id="contacts" class="user-input" rows="1">{{club.contact}}</textarea>
            </div>
            <div class="sidebar-section">
                <h3>Advisor(s)</h3>
                <textarea id="advisors" class="user-input" rows="1">{{club.advisorOrAdvisors}}</textarea>
            </div>
            <div class="sidebar-section">
                <h3>Google Drive Picture Link</h3>
                <p>First Time? Watch video for directions: https://youtu.be/wMlRct38IOM</p>
                <textarea id="picURL" class="user-input" rows="1">{{club.homeURL}}</textarea>
            </div>
            <div class="sidebar-section">
                <h3>Select Categories Applicable to Your Club <br>(All is always tagged)</h3>
                <dl id="checkboxes">
                    {% for tag in tags %}
                        {% if tag in currTags %}
                            <dd><input class = "checkbox" type="checkbox" checked="True" id="{{tag}}" /><label for="{{tag}}">{{tag}}</label></dd>
                        {% else %}
                            <dd><input class = "checkbox" type="checkbox" id="{{tag}}" /><label for="{{tag}}">{{tag}}</label></dd>
                        {% endif %}
                    {% endfor %}
              </dl>
            </div>
        </div>
    </div>
    <script>

        // function to "change roles" (make roles appear/disappear)
        function changeRole(roleID, dropID) {
            role = document.getElementById(roleID);
            dropdownChoice = document.getElementById(dropID);
            if (role.style.display == "none") {
                role.style.display = "";
                dropdownChoice.style.color = "lightblue";
            } else {
                role.style.display = "none";
                dropdownChoice.style.color = "";
            }
        }


        // functions to open and close dropdowns
        function openDropdown(userID) {
            document.getElementById(userID).style.display = "flex";
        }

        function closeDropdown(userID) {
            document.getElementById(userID).style.display = "none";
        }

        function searchList(list, inputID) {
            var input = document.getElementById(inputID).value.toLowerCase();
            var emails = document.getElementById(list).childNodes;

            for(var i=0; i<emails.length; i++) {
                // Makes sure that it is a div element being searched
                if (emails[i].nodeName.toLowerCase() == 'div') {
                    // iterate through each email in the list
                    var email = emails[i].innerText.toLowerCase(); // Get email and convert to lowercase
                            
                    // Check if input matches email
                    if (email.includes(input)) {
                        emails[i].style.display = ""; // Show email
                    } else {
                        emails[i].style.display = "none"; // Hide email
                    }
                }
            }
        }

        function showButton(email) {
            // The entire "bar" where the email and check/x mark sits
            const emailBar = document.getElementById(email);
            const mark = document.getElementById(email + "button");

            // Shows button and the bar is gray
            emailBar.style.background = 'gray';
            mark.style.display = '';
            
        }

        function hideButton(email) {
            // The entire "bar" where the email and check/x mark sits
            const emailBar = document.getElementById(email);
            const mark = document.getElementById(email + "button");

            // Hides button and the bar is transparent
            emailBar.style.background = 'transparent';
            mark.style.display = 'none';
        }

        // moves user from member to leader
        function addLeader(email) {
            const promotion = document.getElementById(email);
            const promotionButton = document.getElementById(email + 'button');
            promotionButton.onclick = function () { removeLeader(email); };
            promotionButton.innerHTML = "❎";
            document.getElementById('LeadersList').appendChild(promotion);

        }

        // moves user from leader to member
        function removeLeader(email) {
            const demotion = document.getElementById(email);
            const demotionButton = document.getElementById(email + 'button');
            demotionButton.onclick = function () { addLeader(email); };
            demotionButton.innerHTML = "✅";
            document.getElementById('potentialLeadersList').appendChild(demotion);
        }

        //class="userRole"

        // Function to auto expand textarea
        function autoExpand(field) {
            // Reset the height of the field to auto to calculate the new scroll height
            field.style.height = 'auto';
            // Set the height of the field to the scroll height
            field.style.height = field.scrollHeight + 'px';
        }

        // Add input event listener to all textareas
        document.addEventListener('input', function (event) {

            if (event.target.id.toLowerCase() === 'potentialleaderssearchinput') {
                searchList('potentialLeadersList', 'potentialLeadersSearchInput')
                autoExpand(event.target);
            } else if (event.target.id.toLowerCase() === 'leaderssearchinput') {
                searchList('LeadersList', 'LeadersSearchInput')
                autoExpand(event.target);
            } else if (event.target.id.toLowerCase() === "userrolesearch") {
                searchList('potentialRolesList', 'userRoleSearch')
                autoExpand(event.target); 
            } else if (event.target.tagName.toLowerCase() === 'textarea') {
                autoExpand(event.target);
            } else {}
        });

        function submitForm() {
            // Get the value from textarea1
            const aboutSect = document.getElementById('about').value;
            const scheduleSect = document.getElementById('schedule').value;
            const locationSect = document.getElementById('location').value;
            const contactSect = document.getElementById('contacts').value;
            const advisorSect = document.getElementById('advisors').value;
            const newPicURL = document.getElementById('picURL').value;
            
            
            // obtain all cats that they picked
            var allTags = "";
            
            document.querySelectorAll('.checkbox').forEach(box => {
                if (box.checked) {
                    if (allTags != "") {
                        allTags += ",  " //backend code will parse by splitting ",  "
                    }
                    allTags += box.id;
                }
            });

            // obtain all leaders and obtain all users
            var leaders = "";
            var users = "";
            
            document.querySelectorAll('.user').forEach(person => {
                if (person.parentElement.id == "potentialLeadersList") {
                    if (users != "") {
                        users += ",  " //backend code will parse by splitting ",  "
                    }
                    users += person.id;
                } else if (person.parentElement.id == "LeadersList") {
                    if (leaders != "") {
                        leaders += ",  " //backend code will parse by splitting ",  "
                    }
                    leaders += person.id;
                } else {}
            });

            // obtain all user roles
            userRole = "";

            // Parsing by seperating user with role via % and roles with ,. & ;
            // only including roles that they are assigned
            document.querySelectorAll('.userRole').forEach(user => {
                userRole += user.id + ",.";
                user.querySelector('.userRoles').querySelectorAll(".role").forEach(role => {
                    if (role.style.display == '') {
                        userRole += role.innerHTML+';';
                    }
                })
                userRole += "%";
            })


            // Set the value to the hidden input field in the form
            document.getElementById('clubAbout').value = aboutSect;
            document.getElementById('clubSchedule').value = scheduleSect;
            document.getElementById('clubLocation').value = locationSect;
            document.getElementById('clubContacts').value = contactSect;
            document.getElementById('clubadvisors').value = advisorSect;
            document.getElementById('pictureURL').value = newPicURL;
            document.getElementById('selectedTags').value = allTags;
            document.getElementById('selectedUsers').value = users;
            document.getElementById('selectedLeaders').value = leaders;
            document.getElementById('masterUserRoles').value = userRole;
            
            // Submit the form
            document.getElementById('editForm').submit(); // myForm??? TEST
        }

    </script>
</body>
</html>
