{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Login Placeholder</title>
    <link rel="stylesheet" href="/static/loginDefault.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/classStyle.css">
</head>
<body>

    <!-- Navigation bar -->
    <nav>   
        <div class="logo">Club Website</div>
        <div class="nav-items">
            <a href="/myClubs">My Clubs</a>
            <a href="/clubs">Explore</a>
            <a href="/" style='color:#FF0000'>Account</a>
        </div>
    </nav>

    <h1 style="text-align: center; margin-top:150px;"> Google OAuth</h1>
    {% if user.is_authenticated %}
    <p>Welcome. You are logged in {{user.username}} </p>
    {% else %}
    <p>Welcome. Please sign in </p>
    {% endif %}



    <a href="{% provider_login_url 'google' %}" class="btn-google-login">
        <i class="fab fa-google"></i> Sign in with Google
    </a>

    
</body>


</html>