{% load socialaccount %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        <title>Personal Portfolio</title>
        <link rel="stylesheet" href="/static/loginDefault.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/classStyle.css">
    </head>
    <body>
    <!-- Navigation bar -->
    <nav>   
        <div class="logo">Club Website</div>
        <div class="nav-items">
            <a href="/myClubs">My Clubs</a>
            <a href="/clubs">Explore</a>
            <div class="account-link">
                {% if user.is_authenticated %}
                    <a href="/" style='color:#FF0000'>Hello {{ user.username }}</a>
                    <img class="avatar" src="{{ pic }}" alt="Avatar">
                {% else %}
                    <a href="/" style='color:#FF0000'>Sign In</a>
                {% endif %}
            </div>
        </div>
    </nav>

        <section class="hero">
            <div class="hero-container">
                <div class="column-left">
                    <h1>DHS Extracurriculars</h1>
                    <p>Explore a diverse array of enriching extracurricular activities tailored to your interests, ranging from STEM clubs to arts and community service initiatives.</p>
                    {% if user.is_authenticated %}
                        {% if profile_picture_url %}
                            <img src="{{ profile_picture_url}}" alt="Profile Picture">
                        {% else %}
                            <p>No profile picture found.</p>
                        {% endif %}

                        <p>Welcome, {{ user.username }}!</p>
                        <a href="{% provider_login_url 'google' %}" class="btn-google-login">
                            <i class="fab fa-google"></i> Sign in With a Different Account
                        </a>
                    {% else %}
                        <a href="{% provider_login_url 'google' %}" class="btn-google-login">
                            <i class="fab fa-google"></i> Get Started
                        </a>
                    {% endif %}
                </div>
                <div class="column-right">
                    
                </div>
                
            </div>
        </section>
        <div class="loader"></div>
    </body>
</html>
