<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classroom Interface</title>
    <link rel="stylesheet" href="/static/myClubsLayout.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container" id = "clubLayotTag">
        {% for class in classes %}
            <div class="class-card" data-url="{{ class.url }}">
                <h3 class="class-name" font-family: 'Source Sans Pro'>{{ class.name }}</h3>
                <p class="class-description" font-family: 'Source Sans Pro'>{{ class.discription }}</p>
            </div>
        {% endfor %}
    </div>
    <script src="/static/myClubCards.js"></script>
</body>
</html>