{% load socialaccount %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/static/loginDefault.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/classStyle.css">
    </head>
    <body>
        <div style="display: flex; flex-direction: column; align-items: center;">
        <p>You are not logged in or you do not have access to this page.
            Please log in or log into a different account with access.
        </p>
        
        <a href="{% provider_login_url 'google' %}" class="btn-google-login">
            <i class="fab fa-google"></i> Log in
        </a>
    </body>
</html>