<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto-scaling Paginator</title>
    <link rel="stylesheet" href="/static/webClassDisplaySty.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body>

    <!-- Navigation bar -->
    <nav>   
        <div class="logo">Club Website</div>
        <div class="nav-items">
            <input type="text" id="searchInput" placeholder="Search clubs & descriptions">
            <button onclick="clearSearch()">Reset</button>
            <a href="/myClubs">My Clubs</a> 
            <a href="/clubs" style='color:#FF0000'>Explore</a>
            <div class="account-link">
                {% if user.is_authenticated %}
                    <a href="/">Hello {{ user.username }}</a>
                    <img class="avatar" src="{{ pic }}" alt="Avatar">
                {% else %}
                    <a href="/">Sign In</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- Main content with auto pager-->
    <div class="container" id="clubLayoutTag">
        {% for category, clubs in clubs_by_category.items %}
            <div class="card-wrapper" id = 'wrapper{{ category }}'>
                <h2>{{ category }} <button onclick="showAll('{{ category }}')" id = 'show{{ category }}'>Show All</button> 
                    <button onclick="hideExtra('{{ category }}')" id = 'hide{{ category }}' style="display: none;">Hide Extra</button> </h2>
                <div class="pagination-nav-btn prev-btn">&lt;</div>
                <div class="card-container" id = '{{ category }}'>
                    {% for club in clubs %}
                        <div class="card" data-url="{{ club.url }}">
                            <h3 class="class-name">{{ club.name }}</h3>
                            <p class="class-description">{{ club.discription }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="pagination-nav-btn next-btn">&gt;</div>
            </div>
        {% endfor %}
    </div>

    <script src="/static/webClassDisplayGen.js"></script>
</body>
</html>
